* {
  position: relative;
}

h1 {
  margin: 0;
}

/*  */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 10;
}

.header a,
.header a:hover,
.header p {
  color: white;
}
.scrolled {
  /* width: 100%; */
  position: fixed;
  background-color: #6e5eb7;
  /* background-color: #5d1297; */
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}

.shadow {
  box-shadow: 0px 0px 20px rgb(163, 158, 158);
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  padding: 0 20px;
  background: transparent;
}

/*  */
.brand-details {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  align-items: center;
}
.brand-name {
  font-size: 20px;
  font-weight: bold;
}
.brand-name a {
  text-decoration: none;
}
.brand-name:hover {
  color: #dd6c21;
  border-radius: 5px;
}
.brand-description {
  font-size: small;
  font-weight: 200;
  margin-left: 15px;
  border: 1px solid rgb(203, 203, 203);
  border-top: none;
  border-bottom: none;
  border-right: none;
  padding-left: 15px;
  width: 150px;
}

/*  */
.nav-bar {
  flex: 3 1;
  width: auto;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navtext {
  font-weight: 700;
  color: white;
}
.navbarBtn {
  justify-content: space-between;
  height: 40px;
  margin: 20px;
  padding: 0 20px;
  background: #3b3c3817;
  border-radius: 5px;
  border: 0;
  width: 140px;
}
.navbarBtn:hover {
  background-color: #3b3c38bd;
  border: 0;
  color: white;
}

/*  */
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 10px;
  display: none;
  width: 100%;
  height: 100%;
}
.menu-bar {
  height: 60px;
  border-radius: 5px;
  /* background-color: rgba(0, 0, 128, 0.557); */
}

.menu-btn {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: transparent;
}
.open-menu {
  background-image: url(../img/icons/main-menu.png);
}
.close-menu {
  background-image: url(../img/icons/close-button.png);
  display: none;
}

/*  */
.header-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  border: 1px solid rgb(203, 203, 203);
  border-right: none;
  border-top: none;
  border-bottom: none;
  justify-content: end;
  padding-left: 5px;
}
.navbar-icon {
  height: 50%;
  width: 50%;
}
.checkout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.checkout:hover {
  background-color: rgba(245, 245, 245, 0.3);
}

.item-count {
  height: 15px;
  width: 25px;
  margin-left: 3px;
  padding: 0;
  font-size: smaller;
  color: white;
  background-color: #e4492e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  align-content: center;
}
.iconBtn {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0 solid rgb(203, 203, 203);
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0);
}
.iconBtn:hover {
  color: white;
  border: 0;
}
.iconBtn:hover .item-count,
.iconBtn:hover p {
  color: white;
}

.header .scrolled {
  width: 100%;
}
/*  */
@media (max-width: 1400px) {
}
@media (max-width: 1056px) {
  .nav-bar {
    display: none;
  }
  .header-container {
    width: 100%;
  }
  .brand-details {
    flex: 4 1;
  }
  .header {
    position: fixed;
  }

  .header-end {
    display: flex;
    background-color: transparent;
    border: 2px solid rgb(203, 203, 203);
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
  .menu-bar {
    flex: 0.5 1;
    display: flex;
  }
  .item-count {
    font-size: 10px;
  }
}

/*  */
@media (max-width: 780px) {
  .brand-description {
    display: none;
  }
  .brand-details {
    flex: 3 1;
  }
  .container {
    width: auto;
  }
}

.drop-down-menu {
  position: fixed;
  top: 85px;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 128, 0.557);
  z-index: 10;
  display: none;
  animation: grow 0.5s ease-in-out;
}
.drop-down-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.242);
  color: white;
  font-weight: 700;
}
.drop-down-menu-item:hover,
.drop-down-menu-item:hover > a {
  background-color: rgb(234, 140, 140);
  color: white;
}
.drop-down-menu a {
  text-decoration: none;
  color: white;
}
