.main-shop {
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 1400px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.shop-header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.shop-header h1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}
.shopNextPrevButtons {
  position: absolute;
  right: 0;
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.shopNextPrevButtons > button {
  height: 60px;
  width: 60px;
  display: flex;
  border-radius: 50px;
  border: 0;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.25s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.25s ease;
}
.shopNextPrevButtons > button:hover {
  background: #dd6c21;
  border-radius: 5px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.25s ease;
}
.shopNextPrevButtons button > img {
  width: 50%;
  height: 50%;
}

.shop-container {
  width: 1400px;
  max-width: 1400px;
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  row-gap: 20px;
}
.shop-item {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 25px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #f5f5f5;
}
.shop-item-info {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-right: 25px;
}
.shop-item-img {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* padding: 20px; */
  margin: 0 auto;
  background: white;
}
.shop-item-img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 15px;
}
.shop-img-hover {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px;
  visibility: hidden;
  z-index: 2;
}
.shop-img-hover > p {
  width: 100%;
  height: 180px;
  overflow: hidden;
  text-align: left;
  color: white;
  font-style: italic;
  font-size: small;
}

.shop-item-up-pane {
  flex: 1;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #d5d5d5;
}
.shop-item-name {
  font-size: 27px;
  font-weight: 300;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.shop-item .price {
  font-size: 30px;
  font-weight: 600;
  height: 60px;
  margin: 0;
  margin-bottom: 10px;
  color: #e4492e;
}
.shop-item-down-pane {
  flex: 1;
  width: 100%;
  height: 50%;
}
.shop-item-down-pane > p {
  font-size: 15px;
  height: 65px;
  overflow: hidden;
  text-align: left;
  color: #8c8c8c;
}
.stock {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: auto;
}
.stock > p {
  font-size: smaller;
  margin: 0;
  font-style: bold;
  font-weight: 1000;
  color: #474646;
}
.stock-container {
  height: 30px;
  border-radius: 30px;
  background-color: #dd6c2136;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
}
.stock-container > p {
  color: #434343;
  z-index: 2;
}
.stock-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  background-color: #e4492ea8;
  border-radius: 30px;
}

.shop-item .add-to-cart {
  width: 100px;
  height: 30px;
  position: absolute;
  right: 0px;
  bottom: 15px;
  border-radius: 20px;
  margin: 0;
  font-size: x-small;
}
@media (max-width: 780px) {
  .main-shop {
    width: 100%;
    padding: 15px;
  }
  .shop-header {
    margin: auto;
    padding: 0 20px;
  }
  .shop-container {
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
    gap: 10px;
  }
}
.shop-item-img .preview-button {
  background-color: #e3e3e3;
  /* -webkit-transition: all 0.5s ease; */
  transition: all 0.1s ease;
}
.shop-item-img .preview-button:hover {
  border-radius: 5px;
  background-color: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.shop-item-img .verbose-preview-icon {
  height: 50px;
  width: 50px;
}
