.new-arrivals * {
  padding: 0;
}
.new-arrivals {
  margin: auto;
  margin-top: 300px;
  width: 100%;
}

.new-arrivals-header {
  width: 100%;
}
.new-arrivals-header h1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
  width: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.new-arrivals-container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.new-arrivals-container .new-arrivals-item {
  flex: 1;
  height: 500px;
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.new-arrivals-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.new-arrivals-item:hover {
  background-color: #f5f5f5bd;
  cursor: pointer;
}
.new-arrivals-item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-arrivals .product-name {
  font-size: 18px;
  margin: 10px;
  margin-top: 0px;
}
.new-arrivals .available-stock {
  font-size: smaller;
}
.new-arrivals-item-info .product-description {
  display: none;
}
.new-arrivals-item-info .price {
  font-size: 25px;
  font-style: bold;
  font-weight: 900;
  color: #e4492e;
}
.new-arrivals .add-to-cart {
  margin-top: 10px;
  width: 150px;
}
.new-arrivals p {
  margin: 0;
}
.new-arrivals-item-img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  background-color: white;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.new-arrivals-item-img > img {
  width: 100%;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.new-arrivals-img-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: rgba(148, 148, 148, 0.6);
  padding: 30px;
  font-size: 12px;
  font-style: bold;
  font-weight: 900;
  text-align: center;
  visibility: hidden;
}
.new-arrivals-img-hover .product-description {
  text-align: left;
  font-size: 12px;
  width: 100%;
  height: 160px;
  overflow: hidden;
}
.verbose-preview-icon {
  width: 20px;
  height: 20px;
}
.preview-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  right: 45%;
  border-radius: 30px;
  border: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.preview-button:hover {
  cursor: pointer;
  background-color: white;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  visibility: hidden;
}

@media (max-width: 1056px) {
  .new-arrivals-container {
    grid-template-columns: auto auto auto;
    /* width: 100%; */
  }
}

@media (max-width: 700px) {
  .new-arrivals-container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 576px) {
  .new-arrivals-container {
    grid-template-columns: auto;
  }
}
