.tilt {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    #fff 50%,
    #fff 100%
  );
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 10%;
  border: 0px;
}
.welcome-pane-container {
  height: 900px;
  width: 100%;
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border: 0;
}
.welcome-pane {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border: 1px solid white;
  background: linear-gradient(
    to right,
    rgba(147, 115, 227, 0.9),
    rgba(95, 123, 239, 0.9)
  );
  display: flex;
  color: white;
  overflow: hidden;
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.main-product {
  position: absolute;
  bottom: 35%;
  left: 10%;
  overflow: hidden;
  animation: opacityOn 5s normal forwards;
  animation-delay: 2s;
}

/* .opacityOnAnim {
  opacity: 0;
  animation: opacityOn 5s normal forwards;
  animation-delay: 2s;
}

@keyframes opacityOn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
} */

.product-description {
  width: 400px;
  height: 90px;
  overflow: hidden;
  font-size: 20px;
}
.product-name {
  font-size: 50px;
  font-weight: bold;
}

.shop-now {
  width: 150px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  color: #333;
  font-weight: bold;
}
.shop-now:hover {
  background-color: #3b3c38c7;
  color: white;
  border: 0;
}

.arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #f5f5f58f;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 12;
  top: 40%;
}
.arrow:hover {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.lr {
  width: 30px;
  height: 30px;
}
.left-arrow {
  position: absolute;
  left: 20px;
  transform: translateY(-50%);
}
.right-arrow {
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
}
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease-in forwards;
  animation: fadeIn 0.5s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button-hover {
  display: flex;
  -webkit-transition: all 0.25s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.25s ease;
  visibility: visible;
  border-radius: 35px;
  border: 0;
}
.features {
  position: absolute;
  top: 750px;
  /* left: -50%; */
  /* right: -50%; */
  width: auto;
  height: 350px;
  max-width: 2800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 50px;
}
.feature {
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 50px;
}
.feature p {
  margin: 0;
}
.feature-img {
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 10px;
  background: #e7e7e7;
  /* box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05); */
}
.feature-img-icon {
  width: 100%;
  height: 100%;
}
.feature-name {
  font-size: 20px;
  font-weight: bold;
}
.feature-description {
  text-align: center;
  height: 100px;
  width: 80%;
  overflow: hidden;
}

@media (max-width: 1056px) {
  .features {
    position: relative;
    flex-direction: column;
    height: 1200px;
    width: 100%;
    top: 0;
    margin: 0;
    border: 0;
    justify-content: center;
    align-items: center;
  }
  .feature {
    margin: 40px;
    width: 500px;
    margin: 50px 0;
  }
  .main-product {
    bottom: 20%;
  }
}
@media (max-width: 780px) {
  .welcome-pane-container {
    height: 600px;
  }
  .main-product {
    left: 10%;
  }
  .product-description {
    width: auto;
    padding-right: 20px;
  }
  .product-name {
    font-size: 30px;
  }
  .arrow {
    visibility: visible;
  }
  .left-arrow {
    left: 10px;
  }
  .right-arrow {
    right: 10px;
  }
  .feature {
    width: 300px;
  }
  .cartImg {
    width: auto;
  }
}
.lrbtn {
  height: 100%;
  width: 100%;
  border: 0;
  background: transparent;
}
.top-products {
  position: relative;
}
