.welcome-pane-container {
  height: 700px;
  width: 100%;
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.welcome-pane {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(147, 115, 227, 0.9),
    rgba(95, 123, 239, 0.9)
  );
  display: flex;
  color: white;
  overflow: hidden;
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.main-product {
  position: absolute;
  bottom: 15%;
  left: 10%;
  animation: opacityOn 5s normal forwards;
  animation-delay: 2s;
}

/* .opacityOnAnim {
  opacity: 0;
  animation: opacityOn 5s normal forwards;
  animation-delay: 2s;
}

@keyframes opacityOn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
} */
.main-product {
  overflow: hidden;
}
.product-description {
  width: 400px;
  height: 90px;
  overflow: hidden;
  font-size: 20px;
}
.product-name {
  font-size: 50px;
  font-weight: bold;
}

.shop-now {
  width: 150px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  color: #333;
  font-weight: bold;
}
.shop-now:hover {
  background-color: #3b3c38c7;
  color: white;
  border: 0;
}

.arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #f5f5f58f;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 12;
}
.arrow:hover {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.lr {
  width: 30px;
  height: 30px;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease-in forwards;
  animation: fadeIn 0.5s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button-hover {
  display: flex;
  -webkit-transition: all 0.25s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.25s ease;
  visibility: visible;
  border-radius: 35px;
  border: 0;
}

@media (max-width: 780px) {
  .welcome-pane-container {
    height: 600px;
  }
  .main-product {
    left: 10%;
  }
  .product-description {
    width: 400px;
  }
  .product-name {
    font-size: 30px;
  }
  .arrow {
    visibility: visible;
  }
  .left-arrow {
    left: 10px;
  }
  .right-arrow {
    right: 10px;
  }
}

.lrbtn {
  height: 100%;
  width: 100%;
  border: 0;
  background: transparent;
}
.top-products {
  position: relative;
}
